{% load i18n %}

 <html xmlns="http://www.w3.org/1999/xhtml"
 xml:lang="{{ LANGUAGE_CODE }}" lang="{{ LANGUAGE_CODE }}">

 <head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
    <title>Welcome to my site</title>
         <script  type="text/javascript">
               function selectdo(obj) {
                        var str="/i18n/setlang/";
                        var myform = document.getElementById('testform');
                        myform.method = "POST";
                        myform.action = str;
                        myform.submit();
                }
        </script>

 </head>
 <body>
        <form name="testform" id="testform" method='post'>
        {% csrf_token %}
            <select id="language" name="language" onchange="selectdo(this)">
{#                <input name="next" type="hidden" value="{{request.path}}" />#}
                <option value="1" >{% trans "Languages" %}</option>
                 {% for lang in LANGUAGES %}
                <option value="{{ lang.0 }}" > {{ lang.1 }}</option>
                 {% endfor %}
            </select>
         </form>
         <p>{% trans "The first sentence is from the  template index.html" %}</p>
        {{ code }}
         <p>{% trans "Directory indexes are not allowed here." %}</p>
 </body>
 </html>