{% extends base_template %}
{% load i18n l10n %}
{% block extrastyle %}{{ block.super }}
   <style>
    .controls {
            background-color: white;
            padding: 0 !important;
}
   .form-control{
       width:90%
   }
   .fl{float:left}
    </style>
    {#    <link href="/static/xadmin/vendor/select2/select2.css" type="text/css" media="screen" rel="stylesheet">#}
    <link type="text/css" rel="stylesheet" href="/static/vendor/jquery-ui/css/jquery-ui.css" />
    {#    <link href="/static/xadmin/vendor/selectize/selectize.bootstrap3.css" type="text/css" media="screen"#}
    {#          rel="stylesheet">#}
{#    <script type="text/javascript" src="/static/xadmin/vendor/selectize/selectize.js"></script>#}
    {#    <script type="text/javascript" src="/static/xadmin/vendor/select2/select2.js"></script>#}
    {#    <script type="text/javascript" src="/static/xadmin/vendor/select2/select2_locale_en.js"></script>#}
    <script type="text/javascript" src="/static/common/js/common.js"></script>
{% endblock %}
{% load xadmin_tags %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li><a href="{% url 'xadmin:index' %}">{% trans 'Home' %}</a></li>
        <li><a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a></li>
        <li>{% trans 'Run Selected ' %} {{ objects_name|capfirst }}</li>
    </ul>
{% endblock %}S
{% block nav_title %}{{ title }}{% endblock %}

{% block content %}
    <div class="alert alert-warning">{% blocktrans %}You can run selected cases in below ways:</br>
        1. As an one-time task</br>
        2. Copy the arguments and add a periodic task in Djcelery{% endblocktrans %}</div>
    <div class="form-group col-sm-4">
        <label class="control-label fl" style="line-height: 40px">Test Environment</label><span class="asteriskField fl" style="color: red;line-height: 40px;margin:0 5px 0 5px"> *</span>
        <div class="controls fl" style="width:65%;">
            <div class="control-wrap" style="float:left;width:100%">
                <select id="id_test_environment" name="test_environment" class="input-md form-control fl" style="width:80%;margin:5px;">
                    {% for test_environment in test_environments %}
                        <option value="{{ test_environment.id }}">{{ test_environment.name }}</option>
                    {% endfor %}
                </select>
                <a href="/test_api/testenvironment/add/" title="Create New Test Environment"
                   class="btn btn-primary btn-sm btn-ajax pull-right"
                   target="_blank"><i
                        class="fa fa-plus"></i></a>
            </div>
        </div>
    </div>
    <div class="control" style="clear:both;margin-left:17px">
{#        <label class="control-label ">Case ID</label>#}
{#        <label class="control-label ">&nbsp&nbsp&nbspName</label>#}
        <table id="sort" class="table table-hover">
{#            <caption>Cases</caption>#}
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
            </tr>
            </thead>
            <tbody>
            {% for obj in queryset %}
                <tr>
                <td>{{ obj.id }}</td>
                <td>{{ obj.name }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <form action="" method="post">{% csrf_token %}
        <div>
            {% for obj in queryset %}
                <input type="hidden" name="{{ action_checkbox_name }}" value="{{ obj.pk|unlocalize }}"/>
            {% endfor %}
            <input type="hidden" name="action" value="run_selected"/>
            <input type="hidden" name="post" value="yes"/>
            {% view_block 'form_fields' %}
            <div class="form-actions well well-sm">
                <input class="btn btn-danger btn-lg" type="submit" value="{% trans "Yes, run only once!" %}"/>
                <input class="btn btn-danger btn-lg" type="button" onclick="javascript:history.back();"
                       value="{% trans 'Copy arguments' %}"/>
                <input class="btn btn-danger btn-lg" type="button" onclick="javascript:history.back();"
                       value="{% trans 'Copy keyword arguments' %}"/>
                <a class="btn btn-default pull-right" onclick="javascript:history.back();">{% trans 'Cancel' %}</a>
            </div>
        </div>
    </form>
{% endblock %}