{% extends base_template %}
{% load i18n l10n %}
{% load staticfiles %}
{% block extrastyle %}{{ block.super }}
    <style>
        .fl {
            float: left
        }
    </style>
    <link type="text/css" rel="stylesheet" href="{% static "vendor/jquery-ui/css/jquery-ui.css" %}"/>
    <link type="text/css" rel="stylesheet" href="{% static "xadmin/css/xadmin.form.css" %}"/>
{% endblock %}

{% block extrahead %}
    <script type="text/javascript" src="{% static "vendor/tablesorter/jquery.tablesorter.js" %}"></script>
    <script type="text/javascript" src="{% static "test_api/js/run-case.js" %}"></script>
{% endblock %}
{% load xadmin_tags %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li><a href="{% url 'xadmin:index' %}">{% trans 'Home' %}</a></li>
        <li><a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a></li>
        <li>{% trans 'Run Selected ' %} {{ objects_name|capfirst }}</li>
    </ul>
{% endblock %}S
{% block nav_title %}{{ title }}{% endblock %}

{% block content %}
    <div class="alert alert-warning">{% blocktrans %}You can run selected cases in below ways:</br>
        1. As an one-time task</br>
        2. Copy the arguments and add a periodic task in Djcelery{% endblocktrans %}</div>
    <div class="form-group col-sm-4">
        <label class="control-label fl" style="line-height: 40px">Test Environment</label><span class="asteriskField fl"
                                                                                                style="color: red;line-height: 40px;margin:0 5px 0 5px"> *</span>
        <div class="controls fl" style="width:auto;">
            <div class="control-wrap" style="float:left;width:auto">
                <select id="id_test_environment" name="test_environment" class="input-md form-control fl"
                        style="width:auto;margin:5px;" onChange="fillAguments()">
                    <option value="0"> ------</option>
                    {% for test_environment in test_environments %}
                        <option value="{{ test_environment.id }}">{{ test_environment.name }}</option>
                    {% endfor %}
                </select>
                <a href="/test_api/testenvironment/add/" title="Create New Test Environment"
                   class="btn btn-primary btn-sm btn-ajax fl pull-right"
                   target="_blank"><i
                        class="fa fa-plus"></i></a>
            </div>
        </div>
    </div>
    <div class="control" style="clear:both">
        <h4 style="color:#447e9b;background:lightblue;padding: 5px;width:auto;float: left;clear:both">{% blocktrans %}
            Click table header to sort, drag and pull rows, or edit the arguments directly!{% endblocktrans %}</h4>
        <div style="clear:both;width: 49%;float:left">
            <label>Cases</label>
            <table id="id_case" class="tablesorter table table-bordered table-striped table-hover">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                </tr>
                </thead>
                <tbody>
                {% for obj in queryset %}
                    <tr>
                        <td>{{ obj.id }}</td>
                        <td>{{ obj.name }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <form action="" method="post">{% csrf_token %}
        <div>
            {% for obj in queryset %}
                <input type="hidden" name="{{ action_checkbox_name }}" value="{{ obj.pk|unlocalize }}"/>
            {% endfor %}
            <div class="controls" style="width:49%;float: right">
                <label>Arguments</label>
                <textarea id="id_arguments" name="arguments" style="width: 100%;height: 500px"></textarea>
            </div>
            <input type="hidden" name="action" value="run_selected"/>
            <input type="hidden" name="post" value="yes"/>
            {% view_block 'form_fields' %}
            <div class="form-actions well well-sm fixed">
                <input class="btn btn-danger btn-lg" type="submit" value="{% trans "Run only once!" %}"/>
                <a class="btn btn-default pull-right" onclick="javascript:history.back();">{% trans 'Cancel' %}</a>
            </div>
        </div>
    </form>
{% endblock %}